.form-create {
  width: 96,5%;
  background-color: #a9d06e;
  padding: 20px 25px;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.form-create h3 {
  color: #fbfbfbe3;
  font-size: 24px;
  margin-bottom: 15px;
  
}

.form-create label {
  color: #f7f7f7;
  font-size: 30px;
  margin-bottom: 5px;
}

.form-create input[type="text"] {
  width: 10%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 15px;
}

.form-create input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 15px;
}

.form-create input[type="submit"]:hover {
  background-color: #45a049;
}